<div class="all">
    <form class="container"  (ngSubmit)="onSignIn()">
        <p class="heading">
            Sign In
        </p>
        <div>
            <p class="label">Enter Email</p>
            <input class="inputFields" type="text" formControlName="email" placeholder="Enter Contact Email Here ">

        </div>
        <div>
            <p class="label">Enter Password</p>
            <input class="inputFields" type="password" formControlName="password"
                placeholder="Enter your password here ">
        </div>
        <div class=" btnContainer">
            <button class="btn" style="text-decoration: none;">
                Sign In
            </button>
            <a class="label hand" routerLink="/register">
                Create Account
            </a>
        </div>
    </form>
</div>